%btn {
  margin-top: 15px;
  width: 100%;
  color: #fff;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;
}

.default {
  @extend %btn;
  background-color: $color-aqua;
}

.error {
  @extend %btn;
  background-color: #e4757a;
}

.info {
  @extend %btn;
  background-color: $color-purple;
}

.success {
  @extend %btn;
  background-color: #63cc82;
}

.warning {
  @extend %btn;
  background-color: #fd7856;
}
